.wrap-card {
  margin: 40px;
  /* padding: 25px 0px; */
  /* background-color: #ffe7e9; */
  background-color: rgb(224 242 254);
  width: 30vw;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(141, 249, 255, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
  /* box-shadow: 3px 5px #fd5340; */
}

.wrap-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 15px rgb(186 230 253);
}

.card-image-container {
  display: flex;
  align-items:center;
  justify-content: center;
  width:8vw;
}

.card-image {
  height: 150px;
  border-radius: 5px;
}

.card-content {
  display: flex;
  flex-direction: column;
  font-size:0.9rem;
  width:17vw
}

.card-name {
  padding: 0;
  color: #0861faf8;
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
}

.card-des {
  padding: 0;
  color: rgb(52, 52, 52);
  /* font-weight: bold; */
  font-size: 1rem;
  margin: 0;
}

@media (max-width:48em) {
  .wrap-card {
    margin: 15px 0px;
    width:90vw;
  }
  .card-image-container {
    margin: 0;
    padding: 0;
    width: 30vw;
  }

  .card-content {
    margin: 0;
    width: 55vw;
  }


}