

.events-container {
  /* background-color: #ddfcf9; */
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 8px  20px rgba(0, 0, 0, 0.2)
}

.events-title  {
  color: #088FFA;
  font-size: 2.1em;
  display: flex;
  margin-bottom: 5px;
}

.events-des  {
  color: grey;
  font-size: 1.3rem;
  display: flex;
  text-align: center;
  margin-top: 5px;
  padding: 10px 10px 0px 10px;
}

@media(max-width:48em) {
  .events-container {
    padding-bottom: 20px;
  }
}