footer {
  width: 100%;
  background-color: #0074e7;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 20px;
}

.main-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.identity-container {
  display: flex;
  width: 25vw;
  margin-top: 20px;
}

.white-logo {
  height: 50px;
  margin: 0px 30px;
}

.links-container {
  display: flex;
  flex-direction: column;
  width: 15vw;
  margin-top: 15px;
}

.links-container a{
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
}

.links-container p{
  margin: 5px; 
}


.link:hover {
  transition: 0.4s ease;
  color: rgb(151, 246, 255);
}

a{
  text-decoration: none;
}

.links-container p{
  /* margin: 0;
  padding: 0; */
  list-style: none;
  cursor: pointer;
}

.contact-container {
  display: flex;
  flex-direction: column;
}

.contact-container p{
  font-size: 1.2rem;
}

.socials-container {
  display: flex;
  font-size: 1.4rem;
}

.social-icons {
  margin-right: 10px;
  color: white;
}

.social-icons:hover {
  transform: translateY(2px);
  transition: 0.4s ease;
  color: rgb(22, 174, 255);
}

.credits-part {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
}



.credits-part p {
  font-size: 0.8rem;
  margin: 3px;
}

.dev-names a{
  color: rgb(204, 227, 248);
}

@media (max-width: 48em) {
  .identity-container,
  .links-container,
  .contact-container {
    width: 90vw;
    flex-wrap: wrap;
    align-items: start;
    justify-content: start;
  }

  .white-logo {
    margin: 0;
  }

  .credits-part {
    text-align: start;
    width: 90vw;
    /* padding-left: 15px */
    
  }
}
