.objective-container {
  background-color: #ddf1fff7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px 50px 20px;
  box-shadow: 0px 8px  20px rgba(0, 0, 0, 0.2)
}

/* .objectives-heading {
  font-size: 24px;
  margin-bottom: 20px;
} */

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  flex: 1;
  min-width: 300px;
  max-width: 400px; 
  background-color: #d0e1fb;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
  overflow: hidden;
  color: rgb(41,83,155);
  text-align: center;
  margin: 10px;
  padding: 10px 20px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 15px rgb(130, 172, 235);
}

.card h2 {
  font-size: 18px;
  color: rgb(22, 174, 255);
}

.card p {
  font-size: 14px;
}

@media (max-width: 48em) {
  .cards-container {.objective-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .objectives-heading {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
    justify-content: center;
    gap: 20px;
    background-color: #ddfcf9; 
    /* padding: 20px;  */
    padding-bottom: 50px;
  }
  
  .card {
    flex: 1;
    min-width: 300px;
    max-width: 400px; 
    background-color: #d0e1fb;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
    overflow: hidden;
    color: black;
    text-align: center;
    margin: 10px;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  }
  
  .card h2 {
    font-size: 18px;
  }
  
  .card p {
    font-size: 14px;
  }
  
  @media (max-width: 768px) {
    .cards-container {
      flex-direction: column;
      align-items: center;
    }
  
    .card {
      width: 80vw;
    }
  }
  
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100%;
  }
}
